
<div class="d-flex flex-nowrap border rounded">
    <div class="order-1 p-2">
        <input type="text" #searchString (keyup)="setSearch(searchString.value)" placeholder="Search for post..."/>
    </div>
    <div class="order-2 p-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sorting
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a (click)="setSort('alpha')" class="dropdown-item">Alphabetical</a>
                <a (click)="setSort('chron')" class="dropdown-item">Chonological</a>
                <a (click)="setSort('upvotes')" class="dropdown-item">Upvotes</a>
                <a (click)="setSort('downvotes')" class="dropdown-item">Downvotes</a>
            </div>
        </div>
    </div>
    <!--<div class="order-3 p-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a (click)="setFilter()" class="dropdown-item" href="">Action</a>
                <a (click)="setFilter()" class="dropdown-item" href="">Another action</a>
                <a (click)="setFilter()" class="dropdown-item" href="">Something else here</a>
            </div>
        </div>
    </div>-->
</div>

<div class="list-group">
    <a *ngFor="let post of posts" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small>Author: {{post.author}}</small>
            <small>Date Posted: {{post.date_posted}}</small>
        </div>
        <p class="mb-1">{{post.description}}</p>

        
        <div class="d-flex w-100 justify-content-between">
        <small>read more...</small>

        <div>
            <small>{{post.upvotes}}</small>
            <i title="Upvote" class="fas fa-thumbs-up" (click)="upvotePost(post)" aria-hidden="true"></i>
            <small>{{post.downvotes}}</small>
            <i (click)="downvotePost(post);" title="Downvote" class="fas fa-thumbs-down" aria-hidden="true"></i>
        </div>

        <div>
            <i title="Edit" class="fas fa-edit" (click)="editPost(post)" aria-hidden="true"></i>
            <i (click)="setDelete(post);" data-toggle="modal" data-target="#deleteModal" title="Delete" class="fas fa-trash-alt" aria-hidden="true"></i>
        </div>
        
        </div>
    </a>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Are you sure ?
        </div>
        <div class="modal-footer">
            <button #closeBtn (click)="unsetDelete();" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button (click)="deletePost();" type="button" class="btn btn-primary">Delete</button>
        </div>
        </div>
    </div>
    </div>